<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="form">
    <p>
      <label for="name">name:</label>
      <input ng-model="name" type="text" id="name">
    </p>
    <p>
      <label for="comment">comment:</label>
      <input ng-model="comment" ng-keydown="addPost($event)" type="text" id="comment">
    </p>
  </div>

  <div class="timeline">
    <div class="post" ng-repeat="post in posts">
        <div class="">
          <p>{{post.comment}}</p>
          <small>{{post.name}}</small>
        </div>
    </div>
  </div>

</div>
