<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div>
    <label for="name">Username:</label>
    <input ng-model="name" type="text" id="name">
  </div>
  <div>
    <label for="comment">Comment:</label>
    <input ng-model="comment" ng-keydown="addPost($event)" type="text" id="comment">
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="post in posts">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{post.title}}</h3>
          <p>{{post.comment}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
